tim

In [ ]:
df2.fillna(value=-1) # fill na values with -1

# Question 2
df3 = df2.copy() # create a copy of df2
df3['B'] = df3['B'].fillna(value=-1) # fill the values in column B with -1
df3 # print

# Question 3
df2.fillna(value=df.mean()) # fill na's with mean

margaux

In [ ]:
Q1
_df1.fillna(-1)
Q2
_df1["B"] = _df1["B"].fillna('B')
Q3
_df1.replace(_df1['A'],_df1['A'].mean(), inplace= True)
_df1.replace(_df1['B'],_df1['B'].mean(), inplace= True)
_df1.replace(_df1['C'],_df1['C'].mean(), inplace= True)
_df1.replace(_df1['D'],_df1['D'].mean(), inplace= True)

sz-je /steven

In [ ]:
df_filled_q1 = df.fillna(-1)
df_filled_q1

df_filled_q2 = df.fillna({'B': -1})
df_filled_q2

df_filled_q3 = df.fillna(df.mean())
df_filled_q3

Jake

In [ ]:
#Q1

df.fillna(-1, inplace=True)

# Q2

df2['B'] = df2['B'].fillna(-1)
df2 

#Q3

df2 = df2.fillna(df2.mean())

Luca

In [ ]:
# Q1. Fill all missing values with -1
df2.fillna(-1)

# Q2. Fill missing values for variable “B” with -1
df2['B'] = df['B'].fillna(-1)
df2

# Q3. Fill all values with the mean for the variable
df2 = df2.fillna(df2.mean())
df2